<h1>Show Page</h1>

<%= link_to 'Edit', edit_post_path(@post), class: "button" %> <br>
<%= link_to 'Delete', post_path(@post), method: :delete , data: {confirm: "Are you sure? "}, class: "button" %> <br>

<%= @post.title %> <br>
<%= @post.content %>

 <%= render @post.comments %>
  <%= render 'comments/form' %>
